body {
    background-image: url("../images/xbox_console.jpg");
            /* Full height */
            height: 100%; 
            /* Center and scale the image nicely */
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
}

#name, #surname, #city, #province, #cap {
    border-style: inset;
    border-width: 0;
}

.feedbackIcon {
    font-size: 3em;
}

.panel-body {
    font-size: 1.1em;
}
